*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 1.375rem;
}
p {
  font-size: 0.75rem;
}
